*{
  box-sizing: border-box;
}

body{
  margin: 0;
  color: black;
}

a{
  text-decoration: none;
}

.general-page{
  background-color: #f6efe4;
  padding-bottom: 150px;
}

@media (max-width: 780px) {
  .general-page{
    padding-bottom: 50px;
  }
}
