body{
  font-family: 'Poppins', sans-serif;
}

.nav-item-link{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

.letter-spacing{
  letter-spacing: 2px;
}

.title-page{
  font-weight: 400;
  letter-spacing: 2px;
}
